<div id="user-menu" ng-show="userMenu">


    <div class="float-right" id="user-menu-back" ng-click="toggleUserMenu()">
        <img class="img15x" src="assets/images/arrow-pointer.svg"/>
    </div>

    <div class="clear"></div>

    <div class="center" id="user-menu-content">
        <div id="user-menu-pic"><img class="img7x inline" src="assets/images/profile.svg"/></div>
        <div class="bold" id="user-menu-name"> {{auth.user.name}} {{auth.user.surname}}</div>
    </div>

    <div id="user-menu-footer">
        <div class="float-right" id="user-menu-logout" ng-click="logout()">
            <img class="img2x" src="assets/images/logout.svg"/>
        </div>
    </div>

</div><!-- end of user menu -->
