<!doctype html>
<html ng-app="TIMECAPSULE" ng-controller="appController">
<head>
<meta charset="utf-8">
<title> Time Capsule</title>

<link type="text/css" rel="stylesheet" href="assets/css/styles.css"/> 
<link type="text/css" rel="stylesheet" href="assets/css/preloader.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/animations.css"/>
<link type="text/css" rel="stylesheet" href="assets/css/ngDialog.css"  />
<link type="text/css" rel="stylesheet" href="assets/css/ngDialog-theme-default.css"  />
<link type="text/css" rel="stylesheet" href="assets/css/ngDialog-theme-flat.css"  />
<link type="text/css" rel="stylesheet" href="assets/css/jquery-ui.css"  />
<link type="text/css" rel="stylesheet" href="assets/css/rzslider.css"  />
<link type="text/css" rel="stylesheet" href="assets/css/vis.css"  />
 
    
<link type="image/png" rel="icon" href="assets/images/favicon.png">    

<base href="{{baseURL}}">

</head>

<body>

    <!-- Core Libraries -->
    <script src="app/core/angular.min.js"></script>
    <script src="app/core/angular-ui-router.min.js"></script>
    <script src="app/core/angular-animate.min.js"></script>
    <script src="app/core/angular-locale-gr.js"></script>
    <script src="app/core/ngDialog.min.js"></script>
    <script src="app/core/rzslider.js"></script>
    <script src="app/core/vis.js"></script>
    <script src="app/core/Chart.js"></script>   
    <script src="app/core/angular-chart.js"></script>
    <script src="app/core/moment.js"></script>
    <script src="app/core/angular-moment.js"></script>
    
    <!-- Google Maps -->
    <script src="app/core/ng-map.min.js"></script>
   <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsxPhwdll7tyyidUz7VvPFda-tjOsSqYQ"
  type="text/javascript"></script>
    -->

    <!-- Load environment variables -->
    <script src="env.js" onerror="alert('The env.js file has not been initiated. Please use the template file to create an env.js file in the root directory.')"></script>

    <!-- Application Controller --> 
    <script src="app/app.js"></script>

    <!-- Model -->
    <script src="app/model/option.js"></script>
    
    <!-- Services -->
    <script src="app/services/Auth.service.js"></script>
    <script src="app/services/Global.service.js"></script>
    <script src="app/services/Util.service.js"></script>
    <script src="app/services/Message.service.js"></script>
    <script src="app/services/Navigation.service.js"></script>
    <script src="app/services/ErrorHandler.service.js"></script>
    <script src="app/services/Company.service.js"></script>
    <script src="app/services/Popup.service.js"></script>
    <script src="app/services/Data.service.js"></script>
    <script src="app/services/Query.Builder.service.js"></script>
    <script src="app/services/Query.Builder.Count.service.js"></script>
    <script src="app/services/Query.Builder.Total.service.js"></script>
    <script src="app/services/Resource.service.js"></script>
    <script src="app/services/Resource.plant.service.js"></script>
    <script src="app/services/Resource.drug.service.js"></script>
    <script src="app/services/Resource.source.service.js"></script>
    <script src="app/services/Resource.reference.service.js"></script>
    <script src="app/services/Query.service.js"></script>
    <script src="app/services/Compare.service.js"></script>
    

    <!-- Data Factories -->
    <script src="app/factories/users.factory.js"></script>
    <script src="app/factories/dbpedia.factory.js"></script>
    <script src="app/factories/plants.factory.js"></script>
    <script src="app/factories/drugs.factory.js"></script>
    <script src="app/factories/data.factory.js"></script>
    <script src="app/factories/timecapsules.factory.js"></script>
    <script src="app/factories/query.factory.js"></script>
 
  

    <!-- General Controllers -->
    <script src="app/app.controller.js"></script>
    <script src="app/pages/login/login.controller.js"></script>
    <script src="app/shared/banner/banner.controller.js"></script>
    <script src="app/shared/menu/menu.controller.js"></script>
    <script src="app/shared/navigation-bar/navigation-bar.controller.js"></script>
    <script src="app/shared/timecapsules/timecapsules.controller.js"></script> 
    <script src="app/shared/help/help.controller.js"></script> 
    <script src="app/pages/access/unauthorized.controller.js"></script>

    <!-- Page Controllers & directives -->    
    <!-- 1.Dashboard -->
    <script src="app/pages/dashboard/dashboard.controller.js"></script>
    <!-- 2.Query Machine -->
    <script src="app/pages/query-machine/query-machine.controller.js"></script>
    <!-- 3.Naturalia -->
    <script src="app/pages/naturalia/plants/plants.controller.js"></script>
    <script src="app/pages/naturalia/animals/animals.controller.js"></script>
    <script src="app/pages/naturalia/minerals/minerals.controller.js"></script>
    <!-- 4.Drug components -->
    <script src="app/pages/drugs/drugs.controller.js"></script>
    <!-- 5.Reference Sources -->
    <script src="app/pages/sources/sources.controller.js"></script>
    <!-- 6.Reference Sources -->
    <script src="app/pages/cargo/cargo.controller.js"></script>

 
  

    <!-- Directives -->

    <script src="app/directives/datepicker/datepicker.directive.js"></script>
    <script src="app/directives/progress-bar/progress-bar.directive.js"></script>
    <script src="app/directives/progress-bar/progress-bar-small.directive.js"></script>
    <script src="app/directives/loader/loader.directive.js"></script>
    <script src="app/directives/loader-small/loader.small.directive.js"></script>
    <script src="app/directives/popup-message/popup-message.directive.js"></script>
    <script src="app/directives/create-button/create-button.directive.js"></script>
    <script src="app/directives/search-box/search-box.directive.js"></script>
    <script src="app/directives/checkbox/checkbox.directive.js"></script>
    <script src="app/directives/select-box/select-box.directive.js"></script>
    <script src="app/directives/timeline/timeline.directive.js"></script>
    <script src="app/directives/chart/chart.directive.js"></script>
    <script src="app/directives/pie-chart/pie-chart.directive.js"></script>
    <script src="app/directives/pie-plant-family/pie-plant-family.directive.js"></script>
    <script src="app/directives/bar/bar.directive.js"></script>
    <script src="app/directives/polar/polar.directive.js"></script>
    <script src="app/directives/network/network.directive.js"></script>
    <script src="app/directives/gmap/gmap.directive.js"></script>
 
    

    
    <ng-include src="'app/shared/banner/banner.html'" ng-if="auth.login"></ng-include>
    <ng-include src="'app/shared/menu/menu.html'" ng-if="auth.login"></ng-include>
  
   


    <div id="content" ui-View> </div> 
  
    <ng-include src="'app/shared/spectre-bar/spectre-bar.html'" ng-if="auth.login"></ng-include>
    
    <script src="app/core/jquery.js" type="text/javascript"></script>
    <script src="app/core/jquery-ui.min.js" type="text/javascript"></script>
    <script src="app/core/jquery.ui.datepicker.js" type="text/javascript"></script>
    
</body>
     
    
</html>
