<div class="minimize float-right" ng-click="isMinimized = !isMinimized">
    <img class="img15x" ng-show="isMinimized" src="assets/images/minimize.svg"/>
    <img class="img15x" ng-show="!isMinimized" src="assets/images/minimize-red.svg"/>
</div>
<div class="visualization-title">{{title}}</div>

<div class="visualization-content" ng-show="!isMinimized">

    <div class="timeline"></div>
    <br/><br/>
    <div class="graph2d"></div>

    <div class="visualization-stats flex">

        <div class="visualization-chart flex1">
            <div class="chart inline">
                <chart colors="colors"
                       data="piePercentages"
                       labels="pieConcepts"
                       ng-if="pieConcepts && pieConcepts.length"
                >
                </chart>
            </div>
        </div>

        <div class="visualization-numbers flex1">

            <div class="visualization-numbers-title bold"> Percentages:</div>
            <div class="visualization-numbers-content">
                <div class="timeline-concept" ng-repeat="concept in pieConcepts">
                    <div class="timeline-concept-square square inline-top" ng-class="squares[$index]"></div>
                    <div class="timeline-concept-name inline-top"> {{concept}}</div>
                    <div class="timeline-concept-name inline-top"> [ {{ pieOccurences[$index] }} Occurrences ]</div>
                    <div class="timeline-concept-name float-right"> {{ piePercentages[$index] | number: 1}} %</div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>

    </div>

</div>
