<div class="ui-content-div" id="plants">


    <div class="page-header">Naturalia</div>


    <div id="tabs">
        <a ui-sref="plants">
            <div class="tab">Plants</div>
        </a>
        <a ui-sref="animals">
            <div class="tab">Minerals</div>
        </a>
        <div class="tab tab-selected">Minerals</div>
        <div class="clear"></div>
    </div><!-- end of tabs -->

    <div class="clear"></div> <!-- CLEAR -->

    <loader ng-show="isLoading.page"></loader>


    <div class="page-content flex">

        <div class="data-list space-right flex1">

            <div class="data-list-title">Minerals list</div>

            <search-box search-label="Search Minerals" search-text="filters.search"></search-box>

            <div class="clear"></div>

            <div class="data-list-content">
                <div class="data-list-item"
                     ng-class=" {'data-list-item-selected': isSelected($item) }"
                     ng-click="selectItem($item)"
                     ng-repeat="$item in items | orderBy: 'name'  track by $index">
                    <div class="data-list-item-dot float-left"><img class="img1x" src="assets/images/circle-green.svg"/>
                    </div>
                    <div class="data-list-item-name float-left">{{ $item.name }}</div>
                    <div class="clear"></div>
                </div>

            </div>

        </div> <!-- end of data list -->

        <div class="item-info flex2">

            <div class="item-info-title">
                <div class="item-info-title-image float-left">
                    <img class="item-info-title-img" src="assets/images/info.svg"/>
                </div>
                <div class="item-info-title-text float-left">Information</div>
                <div class="clear"></div>
            </div>

            <div class="info-item">

                <div ng-show="item.name">
                    <div class="info-item-name">{{ item.name }}</div>
                    <div class="info-item-concept"><b> Plant Species: </b> {{item.plantName}}</div>
                </div>

                <loader ng-show="isLoading.dbpedia"></loader>

                <div class="dbpedia" ng-show="!isLoading.dbpedia">
                    <div class="dbpedia-image float-left">
                        <div ng-show="!item.thumb"><img class="dbpedia-img"
                                                        ng-src="assets/images/no-image-minerals.svg"/></div>
                        <div ng-show="item.thumb"><img class="dbpedia-img" ng-src="{{item.thumb}}"/></div>
                    </div>
                    <div class="dbpedia-abstract flex2">
                        <div class="dbpedia-empty" ng-show="!item.abstract"> No description available</div>
                        <div ng-show="item.abstract">{{ item.abstract }}</div>
                    </div>
                    <div class="clear"></div>
                </div>


                <div class="small-list" ng-show="item.images && item.images.length">
                    <div class="small-list-title">More Images</div>
                    <div class="small-list-content">
                        <div class="float-left space-right" ng-repeat="image in item.images">
                            <div class="small-list-item-image">
                                <img class="gallery-img" ng-src="assets/images/snipendal-images/{{image}}"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div> <!-- end of small list -->


                <div class="flex">

                    <div class="small-list space-right flex1">
                        <div class="small-list-title">Name Variants</div>
                        <div class="small-list-content">
                            <div class="small-list-item cursor"
                                 ng-click="showResource(variant,'PLANT')"
                                 ng-repeat="variant in item.variants track by $index">
                                <div class="small-list-item-image float-left">
                                    <img class="small-list-item-img" src="assets/images/circle-blue.svg"/>
                                </div>
                                <div class="small-list-item-name float-left max80"> {{ variant }}</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div> <!-- end of small list -->

                    <div class="small-list space-right flex1">
                        <div class="small-list-title">Produces Drug Components</div>
                        <div class="small-list-content">
                            <div class="small-list-item cursor"
                                 ng-repeat="drug in item.drugs track by $index"
                            >
                                <div class="small-list-item-image float-left">
                                    <img class="small-list-item-img" src="assets/images/circle-pink.svg"/>
                                </div>
                                <div class="small-list-item-name float-left max80">
                                    <div ng-click="showResource(drug.name,'DRUG')"> {{ drug.name }}</div>
                                    <div ng-repeat="drugVariant in drug.variants track by $index">
                                        <div class="inline">
                                            <img class="small-list-item-img" src="assets/images/circle-pink-light.svg"/>
                                        </div>
                                        <div class="small-list-item-name inline space-left-top-05"
                                             ng-click="showResource(drugVariant,'DRUG')"> {{ drugVariant }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div> <!-- end of small list -->

                    <div class="small-list space-right flex1">
                        <div class="small-list-title">Mentioned In Reference Sources</div>
                        <div class="small-list-content">
                            <div class="small-list-item" ng-repeat="source in item.sources track by $index">
                                <div class="small-list-item-image float-left">
                                    <img class="small-list-item-img" src="assets/images/circle-yellow.svg"/>
                                </div>
                                <div class="small-list-item-name float-left max80"> {{ source }}</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div> <!-- end of small list -->


                    <div class="clear"></div>

                </div>

                <div>
                    <div class="small-list-title">References</div>
                    <div class="small-list-content">

                        <div class="reference" ng-repeat="reference in item.references track by $index">

                            <div class="small-list-item inline">
                                <div class="small-list-item-image inline">
                                    <img class="small-list-item-img" src="assets/images/circle-blue.svg"/>
                                </div>
                                <div class="small-title inline"> Name Variant:</div>
                                <div class="small-list-item-name inline"> {{reference.name.value}}</div>
                                <div class="clear"></div>
                            </div>


                            <div class="small-list-item inline space-left" ng-show="reference.language">
                                <div class="small-title inline"> Language:</div>
                                <div class="small-list-item-name inline"> {{reference.language.value}}</div>
                                <div class="clear"></div>
                            </div>

                            <div class="small-list-item inline space-left" ng-show="reference.location">
                                <div class="small-title inline"> Location:</div>
                                <div class="small-list-item-name inline">
                                    {{reference.location.value}} ({{reference.latitude.value}},
                                    {{reference.longtitude.value}})
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>

                            <div class="small-list-item inline" ng-show="reference.drugVariant">
                                <div class="small-list-item-image inline">
                                    <img class="small-list-item-img" src="assets/images/circle-pink.svg"/>
                                </div>
                                <div class="small-title inline"> Produces:</div>
                                <div class="small-list-item-name inline">
                                    {{ reference.drugVariant.value }}
                                    (
                                    <div class="small-title inline"> Drug:</div>
                                    {{ reference.drugName.value }} )
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>

                            <div class="small-list-item inline">
                                <div class="small-list-item-image inline" ng-show="reference.referenceSourceName">
                                    <img class="small-list-item-img" src="assets/images/circle-yellow.svg"/>
                                </div>
                                <div class="small-title inline"> Reference Source:</div>
                                <div class="small-list-item-name inline"> {{ reference.referenceSourceName.value }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>

                            <div class="small-list-item inline space-left" ng-show="reference.id">
                                <div class="small-title inline"> ID:</div>
                                <div class="small-list-item-name inline"> {{reference.id.value}}</div>
                                <div class="clear"></div>
                            </div>

                            <div class="small-list-item inline space-left" ng-show="reference.lineNumber">
                                <div class="small-title inline"> LineNo:</div>
                                <div class="small-list-item-name inline"> {{reference.lineNumber.value}}</div>
                                <div class="clear"></div>
                            </div>

                            <div class="small-list-item inline space-left" ng-show="reference.barcode">
                                <div class="small-title inline"> Barcode:</div>
                                <div class="small-list-item-name inline"> {{reference.barcode.value}}</div>
                                <div class="clear"></div>
                            </div>

                            <div class="small-list-item inline space-left" ng-show="reference.referenceSourceLanguage">
                                <div class="small-title inline"> Publication Language:</div>
                                <div class="small-list-item-name inline"> {{ reference.referenceSourceLanguage.value
                                    }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="clear"></div>

                        </div>


                        <div class="clear"></div>


                    </div>

                </div>

            </div>
            <div class="clear"></div>
        </div> <!-- end of plants -->
