<div class="popup">

    <div class='popup-close-icon float-right' ng-click='closeThisDialog()'>
        <img class="popup-close-icon-img" src='assets/images/closeIcon.svg'>
    </div>

    <div class="popup-title" ng-show="!message.exists()">
        <div class='popup-header'>Show me</div>
    </div>

    <loader ng-show="isLoading.delete"></loader>


    <div class="popup-content" ng-show="!isLoading.delete && !message.exists()">

        <div class="space-top-bottom"></div>


        <div id="query-select-wizard">

            <div class="query-wizard-panel float-left" id="query-wizard-select" ng-show="query.state.select">
                <div class="query-var space-bottom"
                     ng-class="item.bg"
                     ng-click="queryAddSelect(item)"
                     ng-repeat="item in query.options">
                    {{item.name}}
                </div>
            </div>

        </div> <!-- end of query wizard -->


        <div class="clear"></div>

        <div class="space-top-bottom"></div>

        <div class="popup-buttons">
            <div class="popup-button-cancel" ng-click="closeThisDialog()">Cancel</div>
        </div>

    </div> <!-- end of popup content -->

    <popup-message close="closeThisDialog" message="message.text.error" ng-show="message.isError()" type="error">
    </popup-message>
    <popup-message close="closeThisDialog" message="message.text.success" ng-show="message.isSuccess()" type="success">
    </popup-message>

</div> <!-- end of popup -->
